<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
 </div>

<div>
</div>

<h2>Here are spark components </h2>

<button data-id="button-1" sprkButton>Button 1</button>
<sprk-divider idString="divider-1">
</sprk-divider>

<sprk-divider idString="divider-2">

<button disabled data-id="button-2" sprkButton >Disabled Button</button>
</sprk-divider>

<sprk-divider idString="divider-3">

<button class="sprk-c-Button--secondary" data-id="button-3" sprkButton>Secondar Button</button>
</sprk-divider>

<sprk-divider idString="divider-4">

<button (click)="checkSpinner($event)" data-id="button-4" sprkButton>Button with spinner</button>
</sprk-divider>

<script>
checkSpinner(event): void { if (!this.submitSpinning) { setSpinning(event.target, {}); this.submitSpinning = true; } }
</script>
<div>
<sprk-accordion>
  <sprk-accordion-item title="This is a title" additionalClasses="sprk-u-mbs" idString="accordion-item-1" analyticsString="object.action.event">
    <p>This is some content.</p>
  </sprk-accordion-item>
  <sprk-accordion-item title="This is another title" idString="accordion-item-2" analyticsString="object.action.event">
    <p>This is some more content.</p>
  </sprk-accordion-item>
</sprk-accordion>
</div>

<router-outlet></router-outlet>

